* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
main {
  margin-inline: 2rem;
}
.ms-Stack-categories {
  display: flex;
  align-items: center;
  justify-content: center;
}
.label-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.ms-Checkbox-label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
